html {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #007399;
}

p {
  font-family: "Roboto Slab", serif;
}

.sail-cu {
  font-family: "Oleo Script", cursive;
  color: #fff;
}

.absolute {
  position: absolute;
}

h1, h2 {
  font-family: "Open Sans Condensed", sans-serif;
}

li {
  color: #000;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #003f5b;
}

.b-btn {
  color: #fff;
  background-color: #003f5b;
}

.light-blue-b {
  background-color: #004f5b;
}

.white {
  color: #fff;
}

.button-dark {
  background-color: #003f5b;
  padding: .5em;
  border-radius: 8px;
}

footer {
  background-color: #004e66;
}

.social {
  max-width: 23%;
}

.card {
  border: 3px solid #f2d2d2;
}

.background-img {
  background-image: url("../images/crab.png");
  background-size: 100%;
}

.form-bg {
  background-color: rgba(255, 255, 255, .4);
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-image: url("../images/turntable.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
